* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  color: rgb(217, 217, 217);
  padding-left: 10px;
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  color:rgb(255, 115, 64);
}
h1,h2,h3,h4 {
  color: white;
}
.mainheader {
  display: flex;
  align-items: center;
  padding: 10px 8% 10px 8%;
  border-bottom:1px dashed #333 ;
  justify-content: space-between;
}

span {
  color:orangered;
}
